.lev {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -999;
    height: 80vh;
}

.root {
    margin: 3%;
    margin-left: 8%;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    font-weight: 900;
}

.h1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.details-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1050px;
}

.events-grid {
    display: grid;
    width: 70%;
    max-width: 1250px;
    grid-template-columns: 1fr 1fr;
}

.events-container {
    margin-top: 70px;
    opacity: 0;
}

#avatar-container {
    grid-column: 1;
    grid-row: 1 / 3;
}

#schedule-button {
    margin: 10px 0;
}

h2 {
    font-weight: 900;
    font-size: 2em;
}