<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Profile Label</title>
</head>
<body>
    <div class="prof-label-block">
        <div class="event-content1">
            Name / Surname
        </div>
    </div>
    <div class="prof-label-block">
        <div class="event-content2">
            John Smith
        </div>
    </div>
</body>
</html>